body{
    color: rgb(255,98,162);
    background: rgb(163,207,239);
    margin: 0px;
    font-family: "DM Serif Display", serif;
}

header{
    border-bottom:solid rgb(231, 231,1);
    padding:20px;
    font-size: 32px;
    color: rgb(134, 181, 243);
}

.chamada{
    background: rgb(3,219,247,1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size:50px;
}

p{
    font-size: 20px;
}
img{
  height: 200px;
}

.categoria{
    display:flex;
    overflow-x:auto;
    gap:10px;
}

.categoria{
    padding-left:20px;
    padding-right: 20px;
}

.categoria-videos img{
    opacity:0.5;
}

.categoria-videos img: hover:{
    opacity:1.0px;
    border: 1px solid yellow:
}

.categoria h2{
    color:bisque
}